.top {
  margin-top: 4rem;
}

.home-img-background {
  background-image: url("/static/media/homebackground.jpg");
  background-size: cover;
}

input, textarea {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.map-form {
  border: none;
  border-bottom: 1px solid #ced4da!important;
  font-size: 0.9rem;
}

.map-form-select {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  float: right;
  border: none;
  border-bottom: 1px solid #ced4da!important;
  color: #788188;
}

#kg, #pages_no {
  margin-left: 10px;
  font-size: 0.9rem;
  color: #788188;
}

#modeofpayment label {
  list-style-type: none;
  font-size: 0.9rem;
  color: #788188;
  padding: 0px 0px 0px 6px;
}

.price {
  font-size: 0.9rem;
  color: #788188;
}

.price div, #pickuppoint b, #deliverypoint b, #modeofpayment b {
  margin-left: 0.3rem;
}

.placeorder {
  padding: 0px;
}

.placeorder input {
  float: right;
  margin-right: 0.8rem;
}

.mapcard {
  height: 480px;
}

.center {
  position: relative;
  width: 508px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  transform: translate(-50%, -50%);
}

.scrollbar {
  height: 265px;
  overflow-y: scroll;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(221, 221, 223);
  border-radius: 20px;
  border: 3px solid #ffffff;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(162, 162, 165);
}

.card_home {
  cursor: pointer;
  box-shadow: 0 6px 10px rgba(173, 173, 173, 0.8);
}

.card_home:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(83, 83, 83, 0.8);
  transition: 0.5s;
}

.card-header {
  padding: 0.8rem;
  border-radius: 0.5rem!important;
}

.map_card_page {
  width: 35%;
}

.documenttextmb {
  margin-bottom: 2.65rem;
}

/*map*/

#googleMap1, #googleMap2 {
  width: 100%;
  height: 480px;
}

#mode {
  color: black;
}

.login-hr {
  display: flex;
  flex-direction: row;
  opacity: 0.4;
  font-size: 13px;
}

.login-hr:before, .login-hr:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000;
  /* box-shadow: 0 0 25px 2px #141414; */
  margin: auto;
  background-color: #fcfafa;
  margin-top: 10px;
}

.img-fluid {
  height: 100%;
}

.login-logo {
  padding: 5px 1px;
  width: 40px;
}

.login {
  border: none;
  border-bottom: 1px solid #ced4da!important;
  font-size: 13px;
  /* font-family: 'Font Awesome 5 Free';
    font-weight: 900; */
}

.dropdown-color {
  background-color: #f9f9f9;
}

.rememberme {
  margin-left: 10px;
  width: 10px;
  height: 10px;
}

.font_size_10 {
  font-size: 10px;
}

.font_size_30 {
  font-size: 30px;
}

.float_right {
  float: right;
}

.hr-margin {
  margin: 0px;
}

.rounded-circle {
  width: 170px;
  height: 200px;
}

.marginleft {
  margin-left: 5rem;
}

.margintop {
  margin-top: 5rem;;
}

.contact h1, .contact h3{
  color: #00bcd4;
}

.contact h3 svg {
  color: #ffffff;
}

.contact p {
  color: #ffffff;
}
.contact {
  display: flex;
  justify-content: center;
  background-image: url("/static/media/contactus.jpg");
  background-size: cover;
}

.contact-message {
  height: 20; 
  width: 20
}

.contactus input[type="submit"] {
  width: 100%;
  background: #00bcd4; 
  color: #fff;
  border: none;
  padding: 8px;
  font-size: 18px;
  border-radius: 5px;
}

.contactus input[type="submit"]:hover {
  width: 100%;
  background: #05d4f0; 
  color: #fff;
  border: none;
  padding: 8px;
  font-size: 18px;
  border-radius: 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.card_aboutus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.otp-info {
  color: rgb(0, 149, 255);
}

.otp-button {
  font-size:0.9rem;
}

@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');
.form-control-otp {
  -webkit-transition: none;
  transition: none;
  width: 40px;
  height: 40px;
  text-align: center
}

.form-control.form-control-solid-otp {
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  color: #3F4254;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

.form-control.form-control-solid-otp:active,
.form-control.form-control-solid-otp.active,
.form-control.form-control-solid-otp:focus,
.form-control.form-control-solid-otp.focus {
  background-color: #EBEDF3;
  border-color: #56e26b;
  color: #3F4254;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}

.center-otp {
  display: flex;
  justify-content: center;
}

.center-otp input[type=number] {
  height: 45px;
  width: 45px;
  font-size: 25px;
}

.center-otp input[type=number]::-webkit-inner-spin-button,
.center-otp input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

.map_canvas {
  width: 100%;
  height: 480px;
}

/* loader */
.tube {
  position: relative;
  width: 5px;
  height: 48px;
  background: rgb(13, 14, 13);
  left: 32px;
  bottom: 22px;
  animation: put-put 2s infinite, move- truck 10s infinite;
}
.tube:before, .tube:after {
  content: "";
  display: block;
  width: 4px;
  height: 6px;
  background: rgb(72, 73, 72);
  position: absolute;
  top: -5px;
  left: 1px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.TruckLoader {
  border: #000 1px solid;
  top: 40%;
  position: relative;
  width: 150px;
  height: 40px;
  background: rgb(46, 179, 95);
  animation: put-put 2s infinite, move-truck 10s infinite;
  background-size: 100% auto;
  border-radius: 4px;
  -webkit-box-reflect: below 15px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.1, transparent), to(rgba(255, 255, 255, 0.1)));
}
.TruckLoader:before, .TruckLoader:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  background: rgb(7, 34, 21);
  position: absolute;
  bottom: -10px;
}
.TruckLoader:before {
  left: 6px;
}
.TruckLoader:after {
  right: 6px;
}
.TruckLoader-cab {
  border: #000 1px solid;
  position: absolute;
  left: -40px;
  bottom: 0;
  width: 38px;
  height: 25px;
  background: rgb(2, 137, 72);
  border-radius: 40% 0 4px 4px;
  -webkit-box-reflect: below 15px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.1, transparent), to(rgba(255, 255, 255, 0.1)));
}
.TruckLoader-cab:before, .TruckLoader-cab:after {
  border: #000 1px solid;
  position: absolute;
  content: "";
  display: block;
  background: rgb(2, 137, 72);
}
.TruckLoader-cab:before {
  width: 20px;
  height: 15px;
  top: -15px;
  right: 0;
  border-radius: 100% 0 0 0;
}
.TruckLoader-cab:after {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: 5px;
  border: 2px solid #fff;
  background: rgb(7, 34, 21);
  position: absolute;
  bottom: -13px;
}
.TruckLoader-smoke, .TruckLoader-smoke:after, .TruckLoader-smoke:before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  left: 5px;
  top: -13px;
  border-radius: 50%;
  background: #333;
}
.TruckLoader-smoke {
  animation: smoke-1 2s infinite;
}
.TruckLoader-smoke:after {
  animation: smoke-2 3s infinite;
}
.TruckLoader-smoke:before {
  animation: smoke-3 4s infinite;
}

@keyframes put-put {
  0% {
    margin-top: 0px;
    height: 50px;
  }
  5% {
    margin-top: -2px;
    height: 52px;
  }
  20% {
    margin-top: -1px;
    height: 50px;
  }
  35% {
    margin-top: 1px;
    height: 49px;
  }
  40% {
    margin-top: -1px;
    height: 51px;
  }
  60% {
    margin-top: 1px;
    height: 49px;
  }
  75% {
    margin-top: 0px;
    height: 50px;
  }
  80% {
    margin-top: -4px;
    height: 52px;
  }
  100% {
    margin-top: 1px;
    height: 49px;
  }
}
@keyframes smoke-1 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.9;
  }
  100% {
    right: -20px;
    bottom: -2px;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
}
@keyframes smoke-2 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.9;
  }
  100% {
    right: -60px;
    bottom: -5px;
    width: 25px;
    height: 25px;
    opacity: 0;
  }
}
@keyframes smoke-3 {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.9;
  }
  100% {
    right: -30px;
    bottom: -8px;
    width: 35px;
    height: 35px;
    opacity: 0;
  }
}
@keyframes move-truck {
  0% {
    margin-left: 90%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    margin-left: 45%;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-left: 0;
    opacity: 0;
  }
}

.loader {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: rgb(8, 154, 42);
  border-top-color: rgb(8, 154, 42);
  box-sizing: border-box;
  height: 16vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 16vmin;
  z-index: 1;
}
.loader:before {
  animation: spin 2s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: rgb(27, 201, 67);
  border-top-color: rgb(27, 201, 67);
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 12vmin;
}
.loader:after {
  animation: spin 3s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: rgb(104, 226, 132);
  border-top-color: rgb(104, 226, 132);
  box-sizing: border-box;
  content: "";
  height: 8vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 8vmin;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#loadingDiv {
  position:absolute;;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgb(255, 255, 255);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

.cont{
  position:absolute;
  left:50%;
  top:50%;
  transform:Translate(-50%, -50%);
}

cancelbutton{
  background-color:#ff4757;
  color:#6b0f0f;
  border-bottom:6px solid #6b0f0f;
  border-top:5px solid #576574;
  width:180px;
  font-size:28px;
  padding:15px 5px 15px 35px;
  border-radius:0px 0px 15px 15px;
  box-shadow:0px 0px 15px 1px rgba(214, 48, 49,.6);
  position:relative;
  font-family: 'Montserrat', sans-serif;

}

cancelbutton:after{
  content:"";
  width:100%;
  height:1px;
  background-color:#c8d6e5;
  top:-3px;
  left:0;
  position:absolute;
}

.cancelloader{
  position:absolute;
  top:30px;
  left:34px;
}

cancelbutton .cancelloader div{
  width:5px;
  height:5px;
  border-radius:50%;
  background-color:#6b0f0f;
  position:absolute;
  transform-origin: -8px;
  animation: light 3s linear infinite;
}

cancelbutton .cancelloader div:nth-child(1){
  transform:rotate(0deg);
  animation-delay:0s;
}

cancelbutton .cancelloader div:nth-child(2){
  transform:rotate(60deg);
  animation-delay:.5s;
}

cancelbutton .cancelloader div:nth-child(3){
  transform:rotate(120deg);
  animation-delay:1s;
}

cancelbutton .cancelloader div:nth-child(4){
  transform:rotate(180deg);
  animation-delay:1.5s;
}

cancelbutton .cancelloader div:nth-child(5){
  transform:rotate(240deg);
  animation-delay:2s;
}

cancelbutton .cancelloader div:nth-child(6){
  transform:rotate(300deg);
  animation-delay:2.5s;
}

@keyframes light{
  0%{background-color:#6b0f0f;}
  40%{background-color:#6b0f0f;}
  50%{background-color:white;}
  60%{background-color:#6b0f0f;}
  100%{background-color:#6b0f0f;}
}

.paper{
  width:135px;
  height:160px;
  box-shadow:0px 0px 10px 1px rgba(55,55,55,.3);
  left:0;
  right:0;
  margin: auto;
  animation: paper 4s ease infinite;
  position:absolute;
  transform-origin:top;
  transform:translateY(0px) rotate(180deg);
  background-color:#fff;
}

.g-cont{
  margin:0 auto;
  width:135px;
  text-align:center;
  position:absolute;
  top:73px;
  left:10px;
  right:0;
  z-index:10;
}

.garbage{
  height:160px;
  width:6px;
  box-shadow:0px 0px 10px 1px rgba(55,55,55,.3);
  display:inline-block;
  vertical-align:top;
  margin-right:9px;
  animation: garbage 4s ease infinite;
  background-color:#fff;
}

@keyframes garbage{
  0%{height:0px;transform:translateY(0px);opacity:0;}
  20%{height:0px;transform:translateY(0px);opacity:1;}
  70%{height:160px;transform:translateY(0px);opacity:1;}
  90.1%{height:160px;transform:translateY(100px);opacity:0;}
  100%{height:0px;opacity:0;}
}

@keyframes paper{
  0%{height:160px;opacity:0;transform:translateY(-100px) rotate(180deg);}
  20%{height:160px;opacity:1;transform:translateY(0px) rotate(180deg);}
  70%{height:0px;opacity:1;transform:translateY(0px) rotate(180deg);}
  70.1%{height:0px;opacity:0;transform:translateY(0px) rotate(180deg);}
  100%{height:160px;opacity:0;transform:translateY(-100px) rotate(180deg);}
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.cursorpointer {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

.view_password {
  cursor: pointer;
  float: right;
  margin-top: -1.55rem;
  margin-right: 0.5rem;
}

@media (min-width: 576px){
  .forgot-password-modal-dialog {
    max-width: 300px;
}}

@media (min-width: 576px){
.cancel-order-modal-dialog {
      max-width: 400px;
  }}