<!doctype html>
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% load widget_tweaks %}

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WeDeliver | {% block title %}{% endblock title%}</title>
    <!-- Bootstrap CSS -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="{% static 'css/main1.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="home">We<span class="text-warning">Deliver</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if 'home' in request.path or request.path == '/WeDeliver/' %} active {% endif %}"
                            aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'aboutus' in request.path %} active {% endif %} "
                            href="{% url 'aboutus' %}">About Us</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'contactus' in request.path  %} active {% endif %} "
                            href="{% url 'contactus' user.id %}">Contact Us</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'contactus' in request.path %} active {% endif %} "
                            href="{% url 'contactus' 0 %}">Contact Us</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="locationButton" data-bs-toggle="modal" data-bs-target="#locationModal"
                            href="#"> <i class="fas fa-map-marker-alt"></i> Set Location</a>
                    </li>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" id="logindropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{user.username}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="logindropdown">
                                <li><a class="dropdown-item {% if 'profile' in request.path %} active{% endif %}"
                                        href="{% url 'profile' %}">My Profile</a></li>
                                <li><a class="dropdown-item {% if 'my-orders' in request.path %} active{% endif %}"
                                        href="{% url 'my-orders' user.id  %}">My Order</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout <i
                                            class="fas fa-sign-out-alt"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" id="loginButton" data-bs-toggle="modal"
                            data-bs-target="#loginModal" href="#"><i class="fas fa-user-circle"></i> Log in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="loginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col col-sm-5 d-none d-sm-block">
                            <img src="{% static 'media/login.png' %}" class="img-fluid d-none d-sm-block" alt="login">
                        </div>
                        <div class="col-12 col-sm-7">
                            <div class="row">
                                <div class="col col-sm-10">
                                    <b>
                                        <p class="modal-title m-2 font_size_30" id="loginModalLabel">Log In</p>
                                    </b>
                                </div>
                                <div class="col col-sm-2">
                                    <button type="button" class="btn-close font_size_10  float_right"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                            </div>
                            <form id="loginform" action="" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12 mt-3" id="username">
                                        {{ loginform.username }}
                                    </div>
                                    <div class="col-12 mt-3" id="pass_word">
                                        {{ loginform.password }}
                                    </div>
                                    <div class="col-6 mt-3" id="remenber_me">
                                        {{ loginform.remember_me }}<span
                                            class="font_size_10"> Remember Me </span>
                                    </div>
                                    <div class="col-6 mt-4">
                                        <a href="#" class="font_size_10 float_right">Forget Password?</a>
                                    </div>
                                </div>
                                <div class="text-center mt-3">
                                    <a href="#">
                                        <button type="submit" id="loginbtn"
                                            class="btn btn-primary mt-2 mb-2 font_size_10">
                                            Log In
                                        </button>
                                    </a>
                                </div>
                            </form>
                            <div class="login-hr">
                                <p>or</p>
                            </div>
                            <p class="text-center font_size_10">LogIn with</p>
                            <div class="text-center">
                                <a href="{% provider_login_url 'google' %}">
                                    <span><img src="{% static 'media/googlelogo.png' %}" class="btn login-logo"></span>
                                </a>
                                <a href="{% provider_login_url 'facebook' method='js_sdk' %}">
                                    <span><img src="{% static 'media/facebooklogo.png' %}"
                                            class="btn login-logo"></span>
                                </a>
                            </div>
                            <div class="text-center mt-3 font_size_10">
                                <span>New Users?<a id="signinButton" data-bs-toggle="modal"
                                        data-bs-target="#signinModal" data-bs-dismiss="modal" href="#"> Create
                                        Account</a></span>
                            </div>
                            <div>
                                {% for message in messages %}
                                {{ message }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Location Modal -->
    <div class="modal fade" id="locationModal" data-bs-keyboard="true" tabindex="-1"
        aria-labelledby="locationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="locationModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if user.profile.address == 'None' or user.profile.address == None %}
                        {% render_field profile.address id="setaddress" placeholder="Enetr your location"%}
                    {% else %}
                        {% render_field profile.address value=user.profile.address id="setaddress"%}
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Signin Modal -->
    <div class="modal fade" id="signinModal" data-bs-keyboard="true" tabindex="-1" aria-labelledby="signinModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="signinModalLabel">Sign Up</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6 mt-2">
                                {{ signupform.first_name }}
                            </div>
                            <div class="col-6 mt-2">
                                {{ signupform.last_name }}
                            </div>
                            <div class="col-12 mt-3">
                                {{ signupform.email }}
                            </div>
                            <div class="col-12 mt-3">
                                {{ signupform.username }}
                            </div>
                            <div class="col-6 mt-3">
                                {{ signupform.password }}
                            </div>
                            <div class="col-6 mt-3 mb-2">
                                {{ signupform.confirm_password }}
                            </div>
                        </div>
                        <div class="mt-4">
                            <p class="text-center"><button type="submit" id="a" class="btn btn-primary">Sign Up</button>
                            </p>
                        </div>
                        <div>
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if 'home' in  request.path or request.path == '/WeDeliver/' %}
    <div class="home-img-background">
        <div class="container">
            {% block content %} {% endblock content %}
        </div>
    </div>
    {% elif 'contactus' in request.path  or 'profile' in request.path%}
    <div>
        {% block content3 %} {% endblock content3 %}
    </div>
    {% else %}
    <div class="container">
        {% block content2 %} {% endblock content2 %}
    </div>
    {% endif %}

    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key={{ google_map_key }}&libraries=places"></script>
    {{ razorpay_api_key|json_script:"razorpay_api_key" }}
    {{ user.id|json_script:'user_id'}}
    {{ user.first_name|json_script:'firstname'}}
    {{ user.last_name|json_script:'lastname'}}
    {{ user.email|json_script:'email'}}
    {% if payment %}
    {{ payment|json_script:"payment"}}
    {% endif %}
    <script type="text/javascript" src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script type="text/javascript" src="{% static 'js/main1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/all.js' %}"></script>
</body>

</html>