{% extends 'base.html' %}

{% block content %}
<section class="top p-4">
<div class="row text-center">
    <div class="col-md mt-4">
        <div class="card bg-dark text-light">
            <div class="card-body text-center">
            <div class="h1 mb-3">
                <i class="fas fa-file-alt"></i>
            </div>
            <h3 class="card-title">
                Documents
            </h3>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Veniam tempora fugiat praesentium explicabo exercitationem
                pariatur!
            </p>
            </div>
        </div>
    </div>
    <div class="col-md mt-4">
        <div class="card bg-success text-dark">
            <div class="card-body text-center">
            <div class="h1 mb-3">
                <i class="fas fa-utensils"></i>

            </div>
            <h3 class="card-title">
                Food
            </h3>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Veniam tempora fugiat praesentium explicabo exercitationem
                pariatur!
            </p>
            </div>
        </div>
    </div>
    <div class="col-md mt-4">
        <div class="card bg-primary text-light">
            <div class="card-body text-center">
            <div class="h1 mb-3">
                <i class="fas fa-shipping-fast"></i>
            </div>
            <h3 class="card-title"> 
                Packages
            </h3>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Veniam tempora fugiat praesentium explicabo exercitationem
                pariatur!
            </p>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock content %}