{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="top">
    <div class="row">
        <div class="mt-1 col-12 col-sm-5">
            <div>
                <h1>
                    Ship with us, your <br />
                    <b>Packages</b> are in Safe hands
                </h1>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 5rem;">
        <div class="col col-sm-5 d-none d-sm-block">

        </div>
        <section class="col-12 col-sm-7 p-4">
            <div class="d-flex flex-row-reverse">
                <div class="row text-center">
                    <div class="col-md mt-4" id="Document">
                        <a class="card-link" href="map">
                            <div class="card bg-dark text-light">
                                <div class="card-body text-center">
                                    <div class="h1 mb-3">
                                        <i class="fas fa-file-alt"></i>
                                    </div>
                                    <h3 class="card-title">
                                        Documents
                                    </h3>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md mt-4">
                        <a class="card-link" href="map" id="Food">
                            <div class="card bg-success text-dark">
                                <div class="card-body text-center">
                                    <div class="h1 mb-3">
                                        <i class="fas fa-utensils"></i>

                                    </div>
                                    <h3 class="card-title">
                                        Food
                                    </h3>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md mt-4">
                        <a class="card-link" href="map" id="Package">
                            <div class="card bg-primary text-light">
                                <div class="card-body text-center">
                                    <div class="h1 mb-3">
                                        <i class="fas fa-shipping-fast"></i>
                                    </div>
                                    <h3 class="card-title">
                                        Packages
                                    </h3>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}