{% extends 'base.html' %}

{% block content %}

{% load static %}
    <!-- <h3>Payment Successfull<i class="fas fa-check-circle"></i></h3>
    <div>
        <h4 class="text-center">&#x20B9;<a id = "amt"></a></h4>
    </div><hr>
    <div>
    <b>Payment Id :</b> <a id = "paymentid"></a>
    <br>                     
    <b>Paid On :</b> <a id = "paidon"></a>
    </div> -->

<div class="container row-content top" style="display : block;">
    <div class="row">
        <div class="col text-center">
            <br>
            <h3>&#x20B9; <a id = "amt"></a></h3>
            <h5><img src ="{% static 'media/check.png' %}" height="25px" width="25px"> Paid Succesfully</h5>
        </div><br>
    </div>
    <hr style="color: #8a2be2; background-color:blueviolet;height:1.5px">
    <table class="table table-striped text-center">
        <tbody>
            <tr>
                <td>
                    Payment Id
                </td>
                <td>
                    <a id = "paymentid"></a>
                </td>
            </tr>
            <tr>
                <td>
                    Paid On
                </td>
                <td>
                    <a id = "paidon"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class="text-center">
        <button class="btn btn-primary mt-2" type="button" onclick="window.print();">Download</button>
    </div><br>
</div>
<script>
    var amount = sessionStorage.getItem("amount");
    document.getElementById("amt").innerHTML =  amount;
    var payment_id = sessionStorage.getItem("paymentid");
    document.getElementById("paymentid").innerHTML = payment_id;
    var paid_on = sessionStorage.getItem("paidon");
    document.getElementById("paidon").innerHTML =  paid_on;
</script>

{% endblock content %}