{% extends 'Base.html' %}

{% load static %}
{% block title %}About Us{% endblock title %}

{% block content2 %}
<div class="top">
  <div class="about-section">
    <h1>About Us</h1>
    <p></p>
    <p></p>
  </div>

  <h2 class="text-center">Our Team</h2>
  <div class="row">
    <div class="col col-sm-2 d-none d-sm-block"></div>
    <div class="col col-sm-4">
      <div class="card card_aboutus">
        <img src="https://cdn.iconscout.com/icon/free/png-256/user-1648810-1401302.png" alt="Tanmay" style="width:15rem;display: block;
        margin: 0 auto;">
        <div class="container">
          <h2>Tanmay Shinde</h2>
          <p class="title"></p>
          <p></p>
          <p>tanmayshinde79@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="col col-sm-4">
      <div class="card card_aboutus">
        <img src="https://cdn.iconscout.com/icon/free/png-256/user-1648810-1401302.png" alt="Adesh" style="width:15rem;display: block;
        margin: 0 auto;">
        <div class="container">
          <h2>Adesh Zinjad</h2>
          <p class="title"></p>
          <p></p>
          <p>adeshzinjad@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="col col-sm-2 d-none d-sm-block"></div>
  </div>
</div>

{% endblock content2 %}