{% extends 'base.html' %}

{% block title %}Reset Password{% endblock title %}
{% load widget_tweaks %}
{% block content2 %}

<div class="top">
    {% if form.errors %}
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    {% if validlink %}
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            <div class="card-header justify-content-center text-center">
                                <h4><i class="fa fa-lock fa-4x"></i></h4>
                                <h3 class="font-weight-light my-4">Reset Your Password</h3>
                            </div>
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-row mb-3">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password1">New Password</label>
                                                {% render_field form.new_password1 class="form-control" placeholder="New Password" %}
                                                <i class="view_password fad fa-eye-slash" id="view_password4"  onclick="view_password(4)"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row mb-3">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1" for="id_new_password2">Confirm New Password</label>
                                                {% render_field form.new_password2 class="form-control" placeholder="Confirm New Password"%}
                                                <i class="view_password fad fa-eye-slash" id="view_password5"  onclick="view_password(5)"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group mt-0 mb-1">
                                                <button type="submit" class="col-md-12 btn btn-dark" id="reset">Reset Password</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                    <div class="alert alert-warning shadow-lg border-0 rounded-lg mt-0 mb-3">
                        The password reset link was invalid, possibly because it has already been used or expired.
                        Please request a new password reset <a href="{% url 'password_reset' %}">here</a>.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content2 %}