{% extends 'base.html' %}

{% block title %}Reset Password{% endblock title %}
{% load widget_tweaks %}
{% block content2 %}

<div class="top">

    {% for message in messages %}
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fas fa-times-circle"></i> <strong>{{message}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                        <div class="card-header justify-content-center text-center">
                            <div id="error_div"></div>
                            <h4><i class="fa fa-lock fa-4x"></i></h4>
                            <h3 class="font-weight-light my-4">Forgot Password?</h3>
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <div>
                                <p class="text-secondary text-center">Forgotten your password? Enter your Email Address or Username below, and we'll email instructions for setting a new one.</p>
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1 mb-3">
                                        {{ forget_password_form.user_name_or_email }}  
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="form-group mt-0 mb-1">
                                            <button type="submit" class="col-md-12 btn btn-dark">Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <div class="small mb-2">
                                <a href="#" class="text-decoration-none" id="signinButton" data-bs-toggle="modal"
                                data-bs-target="#signinModal">Create A New Account</a><br>
                            </div>
                            <div class="small">
                                <a href="#" class="text-decoration-none" id="loginButton" data-bs-toggle="modal"
                                data-bs-target="#loginModal">Login</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content2 %}