{% extends 'base.html' %}

{% block title %}Confirm Order{% endblock title %}
{% load widget_tweaks %}
{% block content2 %}

<div class="row top pt-4 mb-4">
    <div class="col-2 d-none d-sm-block"></div>
    <div class="col col-sm-8">
        <div class="card">
            <div class="card-title m-2">
                <h1 class="text-center">
                    <i class="fas fa-check-circle"></i> Confirm Order
                </h1>
            </div>
            <hr class="hr-margin">
            <div class="card-body">
                <div>
                    <h4>Pickup Point</h4>
                    <div class="mt-3">
                        <i class="fas fa-user"></i> <b>Name</b>
                    </div>
                    <div class="mt-1">
                        {{map_form.pickup_point_name.value}}
                    </div>
                    <div class="mt-3">
                        <i class="fas fa-map-marker-alt"></i> <b>Pickup Location</b>
                    </div>
                    <div class="mt-1">
                        {{map_form.pickup_point_address.value}}
                    </div>
                    <div class="mt-3">
                        <i class="fas fa-phone"></i> <b>Phone Number</b>
                    </div>
                    <div class="mt-1">
                        {{map_form.pickup_point_phone_number.value}}
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="mt-3">Delivery Point</h4>
                    <div class="mt-3">
                        <i class="fas fa-user"></i> <b>Name</b>
                    </div>
                    <div class="mt-1">
                        {{map_form.delivery_point_name.value}}
                    </div>
                    <div class="mt-3">
                        <i class="fas fa-map-marker-alt"></i> <b>Delivery Location</b>
                    </div>
                    <div class="mt-1">
                        {{map_form.delivery_point_address.value}}
                    </div>
                    <div class="mt-3">
                        <i class="fas fa-phone"></i> <b>Phone Number</b>
                    </div>
                    <div class="mt-1">
                        {{map_form.delivery_point_phone_number.value}}
                    </div>
                </div>
                <div class="mt-4">
                    <div class="mt-3">
                        <b>Weight in Kilograms : </b>Up to {{map_form.weight.value}} kg
                    </div>
                    <div class="mt-3">
                       <b>Amount to be paid : </b>{{amount}} ₹
                    </div>
                    <div class="mt-3">
                        <b>Mode of Payment : </b>
                        {{map_form.mode_of_payment.value}}
                    </div>
                </div>
            </div>
            <div class="text-center mb-2">
                <input class="btn btn-primary m-1" type="button" onclick="backpage()" value="Back">
                {% if map_form.mode_of_payment.value == 'Pay on Delivery' %}
                    <a href="success/{{user.id}}"><input class="btn btn-success" type="submit" value="Place Order"></a>
                {% else %}
                    <input class="btn btn-success m-1" type="submit" value="Place Order"
                        onclick="razorpay(), document.getElementById('rzp-button').click()" id="rbutton">
                    <input id="rzp-button" class="btn btn-primary rzpbutton" type="hidden">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-2 d-none d-sm-block"></div>
</div>


{% endblock content2 %}