{% extends 'base.html' %}

{% load static %} 
{% block title %}Map{% endblock title %}
{% block content2 %}

<div class="row top pt-4">
    <div class="col-12 col-sm-4">
        <div class="card mapcard">
            <form action="" method="POST">
                {% csrf_token %}
                <img class="card-img-top "
                    src="{% static 'media/mapformcard.jpg' %}"
                    alt="Card image">
                <div class="scrollbar">
                    <div class="card-body">
                        <div id="pickuppoint">
                            <b>Pickup Point</b>
                            <div class="name1">
                                {{ map_form.pickup_point_name }}
                            </div>
                            <div class="address1">
                                {{ map_form.pickup_point_address }}
                            </div>
                            <div class="number1">
                                {{ map_form.pickup_point_phone_number }}
                            </div>
                        </div>
                        <div class="mt-4" id="deliverypoint">
                            <b>Delivery Point</b>
                            <div class="name2">
                                {{ map_form.delivery_point_name }}
                            </div>
                            <div class="address2">
                                {{ map_form.delivery_point_address }}
                            </div>
                            <div class="number2">
                                {{ map_form.delivery_point_phone_number }}
                            </div>
                        </div>
                        <div class="mt-4" id="kg">
                            Weight in Kilograms : {{ map_form.weight }}
                        </div>
                        <div class="mt-4" id="modeofpayment">
                            <b>Mode of Payment</b>
                            {% for map in map_form.mode_of_payment %}
                                <div class="mt-2">
                                    {{ map }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row mt-3">
                            <div class="col-6 price">
                                <div class="mt-4" id="price" name="amount">Amt : 0 ₹</div>
                            </div>
                            <div class="col-6 mt-3 placeorder">
                                <input class="btn btn-success" type="submit" value="Proceed">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="mt-4"></div>
    </div>
    <div class="col col-sm-8 d-none d-sm-block">
            <div id="googleMap"></div>
    </div>

{% endblock content2 %}