{% extends 'base.html' %}

{% block content2 %}

{% load static %}

<div class="row top" id="htmlContent">
    <div class="col-0 col-sm-2"></div>
    <div class="col-12 col-md-8">
        <div class="card mb-2">
            <div class="card-title m-2">
                <h1 class="text-center">
                    <i class="fas fa-check-circle text-success"></i> Order Place Successfully
                </h1>
            </div>
            <hr class="hr-margin">
            <div class="card-body">
                <div class="row mb-3  mt-3">
                    <div class="col-12 col-sm-6">
                        <h4>Order Id : <span class="text-success">{{ order_id }}</span></h2>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h4>Order Date : <span class="text-warning">{{ date }}</span></h2>
                    </div>
                <div>
                    <h4>Pickup Point</h4>
                    <div class="mt-3">
                        <i class="fas fa-user"></i> <b>Name</b>
                    </div>
                    <div class="mt-1">
                        {{ pickup_point_name }}
                    </div>
                    <div class="mt-3">
                        <i class="fas fa-map-marker-alt"></i> <b>Pickup Location</b>
                    </div>
                    <div class="mt-1">
                        {{ pickup_point_address }}
                    </div>
                    <div class="mt-3">
                        <i class="fas fa-phone"></i> <b>Phone Number</b>
                    </div>
                    <div class="mt-1">
                        {{ pickup_point_phone_number }}
                    </div>
                </div>
                <div class="mt-4">
                    <h4 class="mt-3">Delivery Point</h4>
                    <div class="mt-3">
                        <i class="fas fa-user"></i> <b>Name</b>
                    </div>
                    <div class="mt-1">
                        {{ delivery_point_name }}
                    </div>
                    <div class="mt-3">
                        <i class="fas fa-map-marker-alt"></i> <b>Delivery Location</b>
                    </div>
                    <div class="mt-1">
                        {{ delivery_point_address }}
                    </div>
                    <div class="mt-3">
                        <i class="fas fa-phone"></i> <b>Phone Number</b>
                    </div>
                    <div class="mt-1">
                        {{ delivery_point_phone_number }}
                    </div>
                </div>
                <div class="mt-4">
                    <div class="mt-3" id="kg2">
                        <b>Weight in Kilograms : </b>Up to {{ quantity}} kg
                    </div>
                    <div class="mt-3" id="pages_no2">
                        <b>No. of Pages : </b> {{ quantity }}
                    </div>
                    <div class="mt-3">
                       <b>Amount to be paid : </b>Rs. {{ amount }}
                    </div>
                    <div class="mt-3">
                        <b>Mode of Payment : </b>
                        {{ modeofpayment }}
                    </div>
                </div>
            </div>
            <div class="text-center" id="editor">
                <button class="btn btn-primary mt-2" id="generatePDF">Download</button>
            </div>
        </div>
    </div>
    <div class="col-0 col-sm-2"></div>
</div>

{% endblock content2 %}